div.pms-container {
	width: 80%;
	height: 150px;
}
select, div.pms-pseudo-select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #282828;
	background: #E6F2FF;
	border: 1px solid #BEBEBE;
	padding: 5px;
	height: 200px;
	width: 100%;
}
div.pms-pseudo-select {
	height: 150px;
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
}
div.pms-pseudo-select div.pms-selected {
	color: #FFFFFF;
	background: #3399FF;
	text-align: left;
	white-space: nowrap;
}
div.pms-pseudo-select div.pms-unselected {
	background: transparent;
	text-align: left;
	white-space: nowrap;
}
